* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav#menu ul {
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 900px;
}

nav#menu {
    display: block;
}

nav#menu li {
    display: inline-block;
    background: rgb(3, 0, 36);
    background: linear-gradient(90deg, rgb(255, 63, 162) 0%, rgb(250, 64, 173) 35%, rgb(230, 63, 174) 100%);
    padding: 12px;
}

body {
    background: rgb(255, 70, 141);
    background: linear-gradient(90deg, rgb(255, 63, 162) 0%, rgb(250, 64, 173) 35%, rgb(230, 63, 174) 100%);
}

header {
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 20px;
    position: relative;

}
/*pseudoclasses para estilizaçâo de menu de navegaçâo*/
nav#menu a:link{
    text-decoration: none;
    color: antiquewhite;
     font-weight: bold;
}
nav#menu a:visited{
    text-decoration: none;
    color: antiquewhite;
     font-weight: bold;
}
nav#menu a:hover{
    background: rgb(240, 76, 119);
}
nav#menu li:hover{
    background: rgb(3, 0, 36);
}

.produtos img{
    max-width: 200px;
}

.produtos{
    color: white;
}
.precoDesc{
    font-size: 25px;
}

.produtos img{
    max-width: 200px;
}
.produtos{
    color: white;
}
.precoDesc{
    font: size 25px;;
}